.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.experience-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50rem;
  overflow: auto;
}

.experience-card-container {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  width: 80%;
  text-align: left;

  &:not(:last-child) {
    margin: 5rem 0;
  }

  .exp-card-first-line {
    display: flex;
    justify-content: space-between;

    .exp-card-title {
      font-weight: bold;
    }
  }

  .exp-card-description {
    font-size: 1.6rem;
  }

  .exp-card-technologies {
    span {
      font-size: 1.2rem;
      padding: 0.2rem 0.8rem;
      border-radius: 99px;
      border: 1px solid #5293c9;
      background-color: #181818;
      color: #cccccc;
      margin-right: 0.3rem;
    }
  }

  .exp-card-more-info {
    display: flex;
    font-size: 1.4rem;
    gap: 0.5rem;
    align-items: center;
    border: 1px #5293c9 solid;
    padding: 0.3rem;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: #5293c9;
      color: #cccccc;
    }
  }
}

@media screen and (max-width: 1200px) {
  .experience-card-container {
    width: 100%;
    font-size: 1.2rem;

    &:not(:last-child) {
      margin: 1.5rem 0;
    }

    .exp-card-description {
      font-size: 1rem;
    }

    .exp-card-technologies {
      span {
        font-size: 0.7rem;
      }
    }

    .exp-card-more-info {
      font-size: 0.9rem;
      border-radius: 10px;
      width: 100px;
      height: 25px;
    }
  }
}
