.numbers-column-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 3rem;
  gap: 0.1rem;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.number {
  color: #6d757f;
}

.actual-number {
  color: #c8c8c8;
  font-weight: bold;
}

.last-number {
  color: #3e4146;
}
