@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
    url(../assets/fonts/Poppins-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Poppins-Regular";
  color: #856153;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f1f;
  overflow: hidden;
  display: block;
}

.layout-children {
  margin-left: 85px;
}

.home-layout {
  display: flex;
  margin-top: 2rem;
}

.tag-color-vscode {
  color: #5293c9;
}

.attribute-color-vscode {
  color: #9cdcfe;
}

.symbol-color-vscode {
  color: #666666;
}

.text-color-vscode {
  color: #cccccc;
}

@media screen and (max-width: 1200px) {
  .layout-children {
    margin-left: 0px;
  }
}
