body {
  margin: 0;
  font: 300 11px/1.4 "Helvetica Neue", sans-serif;
  color: #856153;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1f1f1f;
  overflow: hidden;
  display: block;
}

.layout-children {
  margin-left: 85px;
}

.home-layout {
  display: flex;
  margin-top: 2rem;
}

.tag-color-vscode {
  color: #5293c9;
}

.attribute-color-vscode {
  color: #9cdcfe;
}

.symbol-color-vscode {
  color: #666666;
}

.text-color-vscode {
  color: #cccccc;
}
