.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  width: 98%;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    color: #cccccc;
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .contact-container {
    font-size: 1rem;

    a {
      font-size: 1.4rem;
    }
  }
}
