:root {
  --clr-neon: #5293c9;
  --clr-bg: rgba(1, 1, 1, 1);
  --clr-white: rgba(255, 255, 255, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.1rem;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.div-20px {
  text-indent: 20px;
}

.tag-color-vscode {
  color: #5293c9;
}

.attribute-color-vscode {
  color: #9cdcfe;
}

.symbol-color-vscode {
  color: #666666;
}

.text-color-vscode {
  color: #cccccc;
}

.button-connect {
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 4px solid;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  margin: 0.25rem 0 0.25rem 0;
  text-shadow: 0 0 0.125rem rgba(255, 255, 255, 0.55), 0 0 0.5rem currentColor;
  box-shadow: inset 0 0 0.5rem 0 var(--clr-neon), 0 0 0.5rem 0 var(--clr-neon);
  position: relative;
}

.button-connect::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
  opacity: 0;
  background: var(--clr-neon);
  z-index: -1;
  transition: opacity 0.5s linear;
}

.button-connect:hover,
.button-connect:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

.button-connect:hover::before,
.button-connect:focus::before {
  opacity: 1;
  transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
  transition: transform 0.5s linear;
}

.button-connect:hover::after,
.button-connect:focus::after {
  opacity: 1;
}
